<p class="task-title">
  {{this.data.title}}
</p>
<p class="task-description">
  {{this.data.description}}
</p>
<p class="task-timer">
  {{this.remainingTime}}
</p>
<div class="task-status">
  <button {{on "click" (action "isDoneHandler")}}>
    <div>
      {{#if this.isDone}}
        {{fa-icon "close"}}
      {{else}}
        {{fa-icon "check"}}
      {{/if}}
    </div>
  </button>
</div>
<div class="task-actions">
  <button {{on "click" (action "deleteHandler")}}>
    {{fa-icon "trash"}}
  </button>
  <LinkTo @route="list.edit" @model={{this.data.id}}>
    {{fa-icon "edit"}}
  </LinkTo>
</div>