<p class="task-title">
  {{this.data.title}}
</p>
<p class="task-description">
  {{this.data.description}}
</p>
<div class="task-status">
  <button {{on "click" (fn this.isDoneHandler)}}>
    <div>
      {{#if this.isDone}}
        {{fa-icon "close"}}
      {{else}}
        {{fa-icon "check"}}
      {{/if}}
    </div>
  </button>
</div>